name: elas-official
include:
- ./backend/1-service-registry/compose.yaml
- ./backend/2-api-gateway/compose.yaml
- ./backend/3-auth/compose.yaml
- ./backend/4-e3selector/compose.yaml
- ./backend/5-studycompass/compose.yaml
- ./frontend/compose.yaml
