apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: backend-

commonLabels:
  app.kubernetes.io/part-of: backend

resources:
- 1-service-registry
- 2-api-gateway
- 3-auth
- 4-e3selector
- 5-studycompass
