server:
  port: ${PORT:8761}

eureka:
  instance:
    hostname: ${HOSTNAME:localhost}
  client:
    register-with-eureka: false
    fetch-registry: false
    registry-fetch-interval-seconds: 15
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
