[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
tqdm = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
django-cors-headers = "*"
scrapy = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"
twisted = "*"
jellyfish = "*"
segtok = "*"
setuptools = "*"
wheel = "*"
flower = "*"
eventlet = "*"
sparqlwrapper = "*"
py-eureka-client = "*"
mysqlclient = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
