/* Table of content */

/*===================================
1. general stylings
2. aboutUs page
3. home page
4. visualization pages
5. findYourType page
==================================== */

/* ===================================
1. general stylings
==================================== */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial';
 }

.home,
.visualization,
.findyourtype,
.aboutus {
  justify-content: center;
  font-size: 3rem;
  margin-top: 0px;
}

.border2 {
  outline: 0;
  border: 0;
  background-color: rgb(41, 41, 41);
  height: 100px;
}

.border2:before {
  content: '';
  left: 0;
  top: 50%;
  width: 100%;
}

.border2:after {
  content: attr(data-content);
  display: inline-block;
  color: #fff;
  line-height: 2.5;
  font-size: 40px;
  padding: 0 .5em;
  margin-left: 35px;
}

/* ===================================
2. aboutUs page
==================================== */

.aboutus {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #111;
  font-size: 100px;
  margin-top: 0px;
}

.aboutUsFindType {
  color: rgb(255, 102, 0);
}

.aboutUsFindType:hover {
  color: rgb(255, 102, 0);
  text-decoration: underline;
}

.subTitle{
  color: #111;
  font-size: 250%;
}

.text-container {
  font-size: 18px;
  max-width: 50%;
  margin-top: 10px;
  width: 600px;
}

.newMission {
  margin-bottom: -300px;
}

.aboutusSub {
  color: rgb(255,102,0);
  font-size:18px;
}

.border4{
  width: 360px;
  border: 1px solid rgba(0,0,0,.125);
  margin-top: -2px;
}


.image2 {
  object-fit: contain;
  max-height: 450px;
  max-width: 400px;
  margin-top: -100px;
  margin-left: 745px;
}

.iconsAboutUs {
  margin-top: 200px;
  margin-bottom: -50px;
}

/* ===================================
3. home page
==================================== */

.image {
  object-fit: contain;
  max-height: 450px;
  max-width: 500px;
  margin-top: -300px;
  margin-left: 745px;
}

.descriptions {
  font-size: 20px;
}

/* ===================================
4. visualization pages
==================================== */


.autocomplete {
  margin-bottom: 15px;
}

.border {
  width: 700px;
  border: 1px solid rgba(0,0,0,.125);
  margin-top: 10px;
}

.border1{
  width: 360px;
  border: 1px solid rgba(0,0,0,.125);
  margin-top: 10px;
}

.visualization {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #111;
  font-size: 100px;
}

.cards1 {
  margin-left: -63px;
  padding: 4rem;
}

.page-container {
  overflow: hidden;
  margin-left: 55px;
}

.leftSide {
  width: 750px;
  float: left;
}

.rightSide {
  float: right;
}

.subtitlesDiagram {
  font-size: 18px;
  max-width: 80%;
  margin-top: 30px;
}

.underlined {
  text-decoration: underline;
}

.Diagram {
  margin-bottom: 30px;
}

/* ===================================
5. findYourType pages
==================================== */

.text-container2 {  
  font-size: 18px;
  margin-top: 10px;
}

.findyourtype {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #111;
  font-size: 100px;
}

/* ===================================
styling for ProgressBar
==================================== */
.sv_main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

.sv_progress-buttons__list-container .sv_progress-buttons__list li::before {
  border: 3px solid #FF6601;
  background-color: #FF6601;
}

.sv_progress-buttons__list-container .sv_progress-buttons__list li::after {
  background-color: #FF6601;
}

.sv_progress-buttons__list-container .sv_progress-buttons__list li.sv_progress-buttons__list-element--current::before {
  border-color: #FF6601;
  background-color: white;
}

.sv_progress-buttons__list-container .sv_progress-buttons__list li.sv_progress-buttons__list-element--passed::before {
  border-color: #FF6601;
  background-color: #FF6601;
}

.sv_progress-buttons__list-container 
.sv_progress-buttons__list li.sv_progress-buttons__list-element--passed + li::after {
  background-color: #FF6601;
}

.pageTitle {
  font-size: 10em;
}