apiVersion: apps/v1
kind: Deployment
metadata:
  name: 2-api-gateway
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
  template:
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - name: web
        image: socialcomputing/elas-official-backend-2-api-gateway
        ports:
        - containerPort: 8000
        env:
        - name: PORT
          value: "8000"
        - name: SERVICE_REGISTRY_URL
          value: http://$(BACKEND_1_SERVICE_REGISTRY_SERVICE):8761/eureka/
