services:
  backend-2-api-gateway:
    build: .
    image: ${IMAGE_NAME_PREFIX:-socialcomputing/}elas-official-backend-2-api-gateway:${IMAGE_TAG:-latest}
    develop:
      watch:
      - action: rebuild
        path: .
    environment:
      PORT: 8000
      HOST: backend-2-api-gateway
      SERVICE_REGISTRY_URL: http://backend-1-service-registry:8761/eureka/
    depends_on:
      backend-1-service-registry:
        condition: service_healthy
    ports:
    - 8000:8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/health"]
    restart: always
