apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/component: frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/component: frontend
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - name: web
        image: socialcomputing/elas-official-frontend
        ports:
        - containerPort: 8080
        env:
        - name: BASE_URL
          value: ""
