[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = false
name = "pytorch"

[packages]
python-dotenv = "*"
django = "*"
tqdm = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
django-cors-headers = "*"
scrapy = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"
twisted = "*"
jellyfish = "*"
segtok = "*"
setuptools = "*"
wheel = "*"
flower = "*"
eventlet = "*"
sparqlwrapper = "*"
py-eureka-client = "*"
django-neomodel = "*"
numpy = "*"
networkx = "*"
spacy = "*"
nltk = "*"
wikipedia-api = "*"
sentence-transformers = "*"
torch = "==1.11.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
